<div class="row">
    <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-body">
               profile
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
               trends
          </div>
        </div>
    </div>
    
    
    <div class="col-xs-7">
        <%= render "/components/post_form" %><br><br>
         <% for @p in @posts %>
        <%= render "/components/post" %>
    <% end %>
    </div>
</div>

<script>
    document.title="Unafire | Home"
</script>