<div class="row">
    <div class="col-xs-5">
              <%= render "/components/top_users" %>
               
        <div class="panel panel-default">
          <div class="panel-body">
               trends
          </div>
        </div>
    </div>
    
    
    <div class="col-xs-7">
         <% for @p in @posts %>
        <%= render '/components/post' %>
    <% end %>
    </div>
</div>

<script>
    document.title="All <%= number_with_delimiter(Post.all.count, :delimiter => ',') %> Posts | Unafire"
</script>