<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <center><img class="profilePic" src="/pyramidofmoney.jpg"></center>
          <center><h1>Aespect</h1></center>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-body">
               profile
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
               trends
          </div>
        </div>
    </div>
    
    
    <div class="col-xs-7">
        <div class="panel panel-default">
          <div class="panel-body">
            feed
          </div>
        </div>
    </div>
</div>

<script>
    document.title="Unafire | Profile"
</script>