/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: rgba(212, 216, 212, 0.25);
}

.navbar {
    background-color: white;
}

.form-control{
    border-radius:20px;
    min-width:250px;
}

.btn-primary{
    padding-left:20px;
    padding-right:20px;
}

.profilePic{
    border-radius:50%;
    width:256px;
    height:256px;
    border:10px solid #fff;
}

.alert{
    visibility:hidden;
}

.notice{
    visibility:hidden;
}

.btn-primary{
    background-color:#1ac9c9;
    border:1px solid #1db8b8;
}

.btn-primary:hover{
    background-color:#1db8b8;
}