/*
 * This is a manifest file that'll bcompiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: rgba(212, 216, 212, 0.25);
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif
}

.turbolinks-progress-bar{
    background-color:#1ac9c9;
}

t1{
    font-weight:700;
    font-size:38px;
}

t2{
    font-weight:500;
    font-size:2em;
}

t3{
    font-weight:300;
    font-family:"Helvetica Neue";
    font-size: 1.55em;
}

t4{
    font-weight:300;
    font-size: 1.25em;
    font-family:"Helvetica Neue";
}

a:hover{
    text-decoration:none;
    color:#1db8b8;
}

.navbar {
    background-color: white;
}

.form-control{
    border-radius:20px;
    min-width:250px;
}

.btn-primary{
    padding-left:20px;
    padding-right:20px;
}

.btn-primary:active{
    background-color:#1ac9c9;
}

.btn:focus{
    outline:none;
}

.btn:active{
    outline:none;
}

.noOutline:focus{
    outline:none;
}

.noOutline:active{
    outline:none;
}

.btn-primary{
    background-color:#1ac9c9;
    border:1px solid #1db8b8;
}

.btn-secondary{
    background-color:#fff;
    color:#1ac9c9;
    border:1px solid #1ac9c9;
}

.btn-primary:hover{
    background-color:#1db8b8;
}

.btn-secondary:hover{
    background-color:#f0f0f0;
    color:#1ac9c9;
}

.notice{
    
    padding: 2.5rem;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    z-index:1000;
}

.alert{
    padding: 2.5rem;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    z-index:1000;
}

#notice-wrapper{
    
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(135,216,211,0.85)
}

#alert-wrapper{
    
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(199,91,91,0.85)
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.input_field{
    
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
    border: 1px solid #1ac9c9;
    margin: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    background:#fff;
    color:#000;

}

.input_field:focus{
    outline:none;
    border-radius:0px;
    border:none;
    border-bottom:3px solid rgba(135,216,211,1);
    color:#1ac9c9;
}

.post-title{
    text-align:left;
    margin-bottom:20px;
}

.post-content{
    text-align:left;
    padding-top:10px;
    color:#000;
    line-height:25px;
}

.post-links{
    
}

.post-date{
    opacity:0.7;
    font-size:12px;
    text-align:right;
    padding-right:15px;
}

.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
white-space: normal;

}

.post-type{
    color:#fff;
    font-size:16px;
    padding:10px;
    width:100%;
    font-weight:300;
    letter-spacing:5px;
    text-align:center;
    margin:0px;
}

.post-panel{
    border-radius:10px;
    overflow:hidden;
}

.pray-button{
    background:transparent;
    padding:7px;
    padding-right:0px;
    padding-left:0px;
    font-weight:400;
    font-size:13px;
    letter-spacing:2px;
    border-radius:5px;
    border: 1px solid rgba(199,91,91,0.85);
    color: rgba(199,91,91,0.85);
    overflow:hidden;
    margin-right:20px;
}

.pray-button:hover{
    color: rgba(199,91,91,1);
    border: 1px solid rgba(199,91,91,1);
}

.pray-button:focus{
    color: rgba(199,91,91,1);
}

.praise-button{
    background:transparent;
    padding:7px;
    padding-left:0px;
    padding-right:0px;
    font-weight:400;
    font-size:13px;
    letter-spacing:2px;
    border-radius:5px;
    border: 1px solid #1ac9c9;
    color: #1ac9c9;
    overflow:hidden;
    margin-right:20px;
}

.praise-button:hover{
    color:#1db8b8;
    border: 1px solid #1db8b8;
}

.praise-button:focus{
    color:#1db8b8;
}

.post-btn{
    height: 100%;
    border: none;
    background-color: #1ac9c9;
    color: #fff;
    padding: 20px;
    letter-spacing:1px;
    font-weight:400;
    width: 100%;
    margin:0;
}

.action-count{
    background-color: rgba(199,91,91,1);
    color:#fff;
    padding:7px;
    padding-left:10px;
    padding-right:10px;
}

.action-count-praise{
    background-color: #1ac9c9;
    color:#fff;
    padding:7px;
    padding-left:10px;
    padding-right:10px;
}
.action-count-update{
    background-color: #ccc;
    color:#fff;
    padding:7px;
    padding-left:10px;
    padding-right:10px;
}

.update-button{
        background:transparent;
    padding:7px;
    padding-left:0px;
    padding-right:0px;
    font-weight:400;
    font-size:13px;
    letter-spacing:2px;
    border-radius:5px;
    border: 1px solid #ccc;
    color: #ccc;
    overflow:hidden;
    margin-right:20px;
}

.profile-btn{
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    margin-top:-85px;
    font-size:20px;
    font-weight:320;
    letter-spacing:2px;
    border-radius:30px;
}

.profile-btn-sm{
    padding:8px;
    font-size:20px;
    font-weight:500;
    width: 30px;
    height: 30px;
    line-height: 0px;
    margin-top: 26px;
    margin-left: -13px;
}

.top-img{
    background:linear-gradient(         rgba(111, 227, 245, 0.7),         rgba(30, 88, 85, 0.7)         ), url(/bg1.jpg);
    background-repeat: no-repeat;
    background-size:2000px auto;
    width:100%;
    margin-top:-80px;
}

.raised{
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3)
}

.rounded{
  border-radius:50%;
}

.jumbotron{
    font-size:inherit;
}

.raisedText{
  text-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3)
}

.post-container{
    border-radius:20px;
    padding:0px;
    overflow:hidden;
    margin-bottom:30px;
    background-color:white;
}

.tag{
    background-color: #1ac9c9;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    position: relative;
    bottom: 2px;
    margin-right:10px;
}